/* define own css standards compared to browser default*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", Arial;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h2 {
    vertical-align: center;
    text-align: center;
}
html, body {
    margin: 0;
    height: 100%;
}
/* end define css standards*/
/* start top nav styling */
/* top nav general and initial properties */
.nav-container {
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #fff;
    background: #fff;
    color: #2a2a2a;
    height: 50px;
    padding: 0.9em;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu a {
    color:#2a2a2a;
    font-weight: 500;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}
.menu a:hover {
    color:rgb(19, 152, 214);
    font-weight: 500;
}
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
/* toggle menu based on checkbox state */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-toggle {
    display: none;
}
/* social icon links */
.social-icons {
    font-size: 1.5em;
    color:#2a2a2a;
    font-weight: 500;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
    padding: 5px 5px 0 5px;
}
.social-icons:hover {
    color:rgb(19, 152, 214);
    font-weight: 500;
    background-color: x;
}
/* general styling for hamburger icon */
.menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #2a2a2a;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
.menu-button::after {
    content: '';
    margin-top: 8px;
}
/* animation between checked and unchecked states */
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
    background: #fff;
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
/* responsive changes */
@media (max-width: 700px) {
/* hamburger becomes visible */
    .menu-button-container {
      display: flex;
    }
/* position links and hamburger to the right and as a column */
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
/* hides menu when not toggled */
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
/* displays menu when toggled */
    #menu-toggle:checked ~ .menu li {
      border: 1px solid rgb(209, 209, 209);
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #fff;
    }
}
/* end navigation styling */
/* sliding background */
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(222, 214, 172) 50%, rgb(142, 212, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:9s;
} 
.bg3 {
    animation-duration:16s;
}    
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}
/* sliding background end */
/* start header styling */
/* home page header */
.header-container {
    max-width: 1200px;
}
.home-header {
    max-width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.home-header-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.home-header-left {
    margin-bottom: 20px;
}
.headerbutton-box {
    display: flex;
    margin-bottom: 0px;
}
.home-header h1 {
    font-size: 2em;
    white-space: pre;
    font-weight: 400;
}
.headerbutton {
    line-height: 25px;
    border-radius: 7px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px 10px 0px 10px;
    color: #fff;
    display: flex;
    white-space: nowrap;
}
#viewportfolio-button {
    background-color:rgb(19, 152, 214);
}
#viewportfolio-button:hover {
    background-color:rgb(17, 126, 177);
}
#contactme-button {
    background-color:rgb(214, 153, 22);
}
#contactme-button:hover {
    background-color:rgb(156, 110, 9);
}
/* header responsive styling  */
/* desktop */
@media (min-width: 700px) {
    .home-header-right {
        margin-top: 80px;
        padding-left: 40px;
      }
}
@media (max-width: 1000px) {
    .home-header h1 {
        font-size: 1.8em;
    }
    .home-header {
        height: 400px;
    }
}
/* tablets */
@media (max-width: 700px) {
    .home-header h1 {
        font-size: 1.6em;
    }
    .home-header {
        height: 350px;
    }
}
@media (max-width: 600px) {
    .home-header p {
        font-size: 1.3em;
    }
    .home-header {
        height: 350px;
    }
}
/* landscape phones */
@media (max-height: 500px) {
    .home-header {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 150px;
    }
    .home-header p {
        font-size: 1em;
    }
    .home-header-container {
        padding-bottom: 10px;
    }
}
/* home page stuff */
.main-box {
    padding: 0px 15px 0px 15px;
}
.page-wrapper {
    display:flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}
.page-container {
    padding: 40px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    /* background-color:grey; */
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    /* padding: 0px 10px 0px 10px; */
}
.icons-item a:visited, .icons-item a {
    color: #2a2a2a;
  }
.icons-item a:hover {
    color: rgb(19, 152, 214);
  }
.icons-item {
    width: 300px;
    padding: 10px;
    text-align: center;
}
.icons {
    font-size: 6em;
    color:#8a8a8a;
    margin-top: 30px;
}
.icons:hover{
    color:#626262;
}
.icons-item h1 {
    margin-top: 20px;
    font-size: 1.2em;
}
.icons-item p {
    margin-top: 20px;
}
/* footer */
footer {
    max-width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: center;
    background-color: #fff;
}
footer p {
    padding: 15px 0px 10px 0px;
    font-size: 0.7em;
}
.footer-container {
    display: flex;
}
.footer-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
}
.footer-left, .footer-right {
}
/* pagebreak */
.pagebreak {
    height: 1px;
    background-color:#cbcbcb;
    margin: 40px 0px 40px 0px;
}
.pagebreak-smallmargin {
    height: 1px;
    background-color: #2a2a2a;
    margin: 20px 0px 20px 0px;
}
/* portfolio image section on homepage */
.portfolio-image-left-box {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
}
.portfolio-image-right-box {
    max-width: 500px;
    margin: 0px 20px 0px 20px;
}
.page-button {
    line-height: 25px;
    border-radius: 7px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px 0px 10px 0px;
    color: #fff;
    background-color:rgb(19, 152, 214);
}
.page-button:hover {
    background-color:rgb(214, 153, 22);
}
.small-button {
    max-width: 170px;
}
.portfolio-image-heading {
    margin-bottom: 20px;
    margin-top: 20px;
}
.portfolio-image-paragraph {
    margin-bottom: 30px;
}
.portfolio-image-image {
    max-width: 100%;
    height: auto;
}
.responsive-image {
    max-width: 100%;
    height: auto;
}
/* portfolio-image responsive styling  */
@media (max-width: 1000px) {
    .portfolio-image-container {
        text-align: center;
    }
    .portfolio-image-button {
        align-items: center;
    }
}
/* page header */
.page-header {
    height: 150px;
}
.page-header-container {
    margin: auto;
    max-width: 1100px;
    display: flex;
}
.page-header h1 {
    margin: 60px 0px 0px 0px;
    color:#2a2a2a;
    padding-left: 5px;
}
.page-header-left {
    padding: 0 0 0 10px;
}
/* landscape phones */
@media (max-height: 500px) {
    .home-header {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 150px;
    }
    .home-header p {
        font-size: 1em;
    }
    .home-header-container {
        padding-bottom: 10px;
    }
}
/* page stuff */
.page-two-column-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.page-column-box {
    max-width: 650px;
}
.page-two-column-header {
    text-align: left;
    margin-bottom: 10px;
}
.page-two-column-paragraph {
    margin: 10px 0px 10px 0px;
}
.page-column-box ul {
    margin: 20px 0px 20px 0px;
}
.page-two-column-paragraph-name {
    text-align: right;
}
.page-image-avatar {
    max-height: 325px;
    width: auto;
}
.callout-text {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}
.resume-download-button {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}
.page-two-column-callout-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.page-column-callout-box {
    display: flex;
    padding: 0px 40px 0px 40px;
    background-color: transparent;
}
.about-social-icons {
    font-size: 3em;
    color:rgb(19, 152, 214);
    font-weight: 500;
    padding: 0px 10px 0px 10px;
}
.about-social-icons:hover {
    color:rgb(214, 153, 22) ;
    font-weight: 500;
}
.page-two-column-paragraph {
    margin: 15px 0px 15px 0px;
}
/* skills icon styling and tooltips */
.page-technical-skills {
    max-width: 610px;
}
.skills-icons {
    display: flex;
    font-size: 4em;
    margin: 0px 5px 0px 5px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(214, 153, 22);
    color: #2a2a2a;
    text-align: center;
    border-radius: 7px;
    padding: 35px 15px;
    position: absolute;
    z-index: 1;
    font-size: 1em;
    width: 200px;
    margin-left: -250px;
    margin-top: -120px;
    font-weight: 600;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* contact form styling */
.contact-form-box {
    background-color:#fff;
    border-radius: 7px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    min-height: 440px;
    width: 350px;
    margin: 0px 20px;
}
.contact-map-image {
}
#Name, #Email, #Message {
    width: 100%;
    border: none;
    border-radius: 7px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 15px;
    background-color:#cbcbcb;
    color: #2a2a2a;
}
#Name, #Email{
    height: 40px;
}
#Message {
    height: 165px;
}
.contact-form-box p {
    margin: 10px 0px 0px 0px;
}
.contact-map-image .spaced-contact-text {
    margin: 0px 0px 10px 0px;
}
.contact-map-image h3 {
    margin-bottom: 20px;
}
.contact-map-image iframe {
    margin-top: 30px;
}
.page-contact-callout-text h2 {
    padding: 0px 20px 0px 20px;
}
.contact-details-box {
    background-color:#fff;
    padding: 20px;
    border-radius: 7px;
}
@media (max-width: 1000px) {
    .page-main-wrapper {
        /* width: 100%; */
    }
    .contact-form-box {
        margin-bottom: 30px;
    }
    .contact-map-image {
        /* width: 255px; */
    }
}
/* blog page */
.page-blog-container {
    max-width: 1000px;
    margin: auto;
}
.page-blog-container h3 {
    color: #2a2a2a;
    margin-bottom: 20px;
}
.page-blog-flex-grid {
    display: flex;
    margin: auto -15px 15px;
    flex-direction: column;
}
.page-blog-col {
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 7px;
}
.page-blog-sidebar {
    background-color: #cbcbcb;
    border-radius: 7px;
    font-size: 0.8em;
    line-height: 24px;
}
.blog-blurb {
    margin-bottom: 30px;
}
.blog-image-box {
    width: 250px;
}
@media (min-width: 600px) {
    .page-blog-sidebar {
        flex: 1;
    }
    .page-blog-main {
        flex: 3;
    }
    .page-blog-flex-grid {
        flex-direction: row;
    }
}
@media (max-width: 600px) {
    .page-blog-sidebar {
        flex: 1;
        width: 80%;
        margin: 0 auto;
    }
    .page-blog-main {
        flex: 1;
    }
}