/* define own css standards compared to browser default*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", Arial;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h2 {
    vertical-align: center;
    text-align: center;
}
html, body {
    margin: 0;
    height: 100%;
}
/* end define css standards*/
/* start top nav styling */
/* top nav general and initial properties */
.nav-container {
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #fff;
    background: #fff;
    color: #000000;
    height: 50px;
    padding: 0.9em;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu a {
    color:#000000;
    font-weight: 500;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}
.menu a:hover {
    color:rgb(19, 152, 214);
    font-weight: 500;
    background-color: x;
}
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
/* toggle menu based on checkbox state */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-toggle {
    display: none;
}
/* social icon links */
.social-icons {
    font-size: 1.5em;
    color:#000000;
    font-weight: 500;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
    padding: 5px 5px 0 5px;
}
.social-icons:hover {
    color:rgb(19, 152, 214);
    font-weight: 500;
    background-color: x;
}
/* general styling for hamburger icon */
.menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
.menu-button::after {
    content: '';
    margin-top: 8px;
}
/* animation between checked and unchecked states */
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
    background: #fff;
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
/* responsive changes */
@media (max-width: 700px) {
/* hamburger becomes visible */
    .menu-button-container {
      display: flex;
    }
/* position links and hamburger to the right and as a column */
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
/* hides menu when not toggled */
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
/* displays menu when toggled */
    #menu-toggle:checked ~ .menu li {
      border: 1px solid rgb(209, 209, 209);
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #fff;
    }
}
/* end navigation styling */
/* start header styling */
header {
    background-image: url("./images/HomeHeader.jpg");
    background-color: #cbcbcb;
    max-width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}
.header-left {
    margin-bottom: 20px;
}
.header-right {
    margin-bottom: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}
header p {
    font-size: 2em;
    white-space: pre;
}
.headerbutton {
    line-height: 25px;
    border-radius: 7px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    color: #fff;
    display: flex;
    white-space: nowrap;
}
#viewportfolio-button {
    background-color:rgb(19, 152, 214);
}
#viewportfolio-button:hover {
    background-color:rgb(17, 126, 177);
}
#contactme-button {
    background-color:rgb(214, 153, 22);
}
#contactme-button:hover {
    background-color:rgb(156, 110, 9);
}
/* header responsive styling  */
@media (max-width: 1000px) {
    header p {
        font-size: 1.7em;
    }
    header {
        height: 400px;
    }
}
@media (max-width: 700px) {
    header p {
        font-size: 1.5em;
    }
    header {
        height: 350px;
    }
    .header-right {
        display: none;
    }
}
@media (max-width: 600px) {
    header p {
        font-size: 1.4em;
    }
    header {
        height: 300px;
    }
    .header-right {
        display: none;
    }
}
/* header responsive styling for small viewports in landscape mode such as landscape mobile phones */
@media (max-height: 500px) {
    header {
        background-image: url("./images/HomeHeader.jpg");
        background-color: #cbcbcb;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    header p {
        font-size: 1em;
    }
    .header-container {
        padding-bottom: 10px;
    }
}
/* header buttons mobile sized responsive queries */
@media (min-width: 700px) {
    .mobilebuttons-container {
 display: none;
    }
}
@media (max-width: 700px) {
    .mobilebuttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .headerbutton {
        line-height: 25px;
        border-radius: 7px;
        padding: 10px;
        margin-top: 35px;
        margin-bottom: 0px;
        color: #fff;
        display: flex;
        width: 280px;
        justify-content:center;
    }
    #viewportfolio-button-mobile {
        background-color:rgb(19, 152, 214);
    }
    #viewportfolio-button-mobile:hover {
        background-color:rgb(17, 126, 177);
    }
    #contactme-button-mobile {
        background-color:rgb(214, 153, 22);
    }
    #contactme-button-mobile:hover {
        background-color:rgb(156, 110, 9);
    }
}
/* container width for overall site width */
/* .top-nav {
    max-width: 1350px;
    background-color: grey;
} */
.header-container {
    max-width: 1175px;
}
.icons-container {
    max-width: 1175px;
}
/* main content */
.icons-wrapper {
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.icons-container {
    max-width: 1175px;
    display: flex;
    flex-direction: row;
    /* background-color:grey; */
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.icons-item {
    width: 240px;
    padding: 10px;
}
.icons {
    font-size: 4em;
    color:#8a8a8a;
    margin-top: 30px;
}
.icons-item h1 {
    margin-top: 20px;
}
.icons-item p {
    margin-top: 20px;
}
/* footer */
footer {
    background-color: #cbcbcb;
    max-width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: center;
}
footer p {
    padding: 15px 0px 10px 0px;
    font-size: 0.7em;
}
.footer-container {
    display: flex;
}
.footer-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
}
.footer-left, .footer-right {
}
/* pagebreak */
.pagebreak {
    height: 1px;
    background-color:#cbcbcb;
    margin: 40px 0px 40px 0px;
}
/* portfolio image section on homepage */
.portfolio-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.portfolio-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio-image-left-box {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
}
.portfolio-image-right-box {
    max-width: 500px;
    margin: 0px 20px 0px 20px;
}
.main-button {
    line-height: 25px;
    border-radius: 7px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px 0px 10px 0px;
    color: #fff;
    background-color:rgb(19, 152, 214);
    max-width: 170px;
}
.main-button:hover {
    background-color:rgb(214, 153, 22);
}
.portfolio-image-heading {
    margin-bottom: 20px;
    margin-top: 20px;
}
.portfolio-image-container p{
    margin-bottom: 30px;
}
.portfolio-image-image {
    max-width: 100%;
    height: auto;
}
/* portfolio-image responsive styling  */
@media (max-width: 1000px) {
    .portfolio-image-container {
        text-align: center;
    }
    .portfolio-image-button {
        align-items: center;
    }
}
@media (max-width: 700px) {
}
@media (max-width: 600px) {
}
@media (max-height: 500px) {
}