/* define own css standards compared to browser default*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", Arial;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h2 {
    vertical-align: center;
    text-align: center;
}
html, body {
    margin: 0;
    height: 100%;
}
/* end define css standards*/
/* start top nav styling */
/* top nav general and initial properties */
.nav-container {
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #fff;
    background: #fff;
    color: #2a2a2a;
    height: 50px;
    padding: 0.9em;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu a {
    color:#2a2a2a;
    font-weight: 500;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}
.menu a:hover {
    color:rgb(19, 152, 214);
    font-weight: 500;
}
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
/* toggle menu based on checkbox state */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-toggle {
    display: none;
}
/* social icon links */
.social-icons {
    font-size: 1.5em;
    color:#2a2a2a;
    font-weight: 500;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
    padding: 5px 5px 0 5px;
}
.social-icons:hover {
    color:rgb(19, 152, 214);
    font-weight: 500;
    background-color: x;
}
/* general styling for hamburger icon */
.menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #2a2a2a;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
.menu-button::after {
    content: '';
    margin-top: 8px;
}
/* animation between checked and unchecked states */
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
    background: #fff;
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
/* responsive changes */
@media (max-width: 700px) {
/* hamburger becomes visible */
    .menu-button-container {
      display: flex;
    }
/* position links and hamburger to the right and as a column */
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
/* hides menu when not toggled */
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
/* displays menu when toggled */
    #menu-toggle:checked ~ .menu li {
      border: 1px solid rgb(209, 209, 209);
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #fff;
    }
}
/* end navigation styling */
/* start header styling */
/* home page header */
.header-container {
    max-width: 1175px;
}
.home-header {
    background-image: url("./images/HomeHeader.jpg");
    background-color: #cbcbcb;
    max-width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.home-header-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}
.home-header-left {
    margin-bottom: 20px;
}
.home-header-right {
    margin-bottom: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}
.home-header p {
    font-size: 2em;
    white-space: pre;
}
.headerbutton {
    line-height: 25px;
    border-radius: 7px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    color: #fff;
    display: flex;
    white-space: nowrap;
}
#viewportfolio-button {
    background-color:rgb(19, 152, 214);
}
#viewportfolio-button:hover {
    background-color:rgb(17, 126, 177);
}
#contactme-button {
    background-color:rgb(214, 153, 22);
}
#contactme-button:hover {
    background-color:rgb(156, 110, 9);
}
/* header responsive styling  */
@media (max-width: 1000px) {
    .home-header p {
        font-size: 1.7em;
    }
    .home-header {
        height: 400px;
    }
}
@media (max-width: 700px) {
    .home-header p {
        font-size: 1.5em;
    }
    .home-header {
        height: 350px;
    }
    .home-header-right {
        display: none;
    }
}
@media (max-width: 600px) {
    .home-header p {
        font-size: 1.4em;
    }
    .home-header {
        height: 300px;
    }
    .home-header-right {
        display: none;
    }
}
/* header responsive styling for small viewports in landscape mode such as landscape mobile phones */
@media (max-height: 500px) {
    .home-header {
        background-image: url("./images/HomeHeader.jpg");
        background-color: #cbcbcb;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .home-header p {
        font-size: 1em;
    }
    .home-header-container {
        padding-bottom: 10px;
    }
}
/* header buttons mobile sized responsive queries */
@media (min-width: 700px) {
    .mobilebuttons-container {
 display: none;
    }
}
@media (max-width: 700px) {
    .mobilebuttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .headerbutton {
        line-height: 25px;
        border-radius: 7px;
        padding: 10px;
        margin-top: 35px;
        margin-bottom: 0px;
        color: #fff;
        display: flex;
        width: 280px;
        justify-content:center;
    }
    #viewportfolio-button-mobile {
        background-color:rgb(19, 152, 214);
    }
    #viewportfolio-button-mobile:hover {
        background-color:rgb(17, 126, 177);
    }
    #contactme-button-mobile {
        background-color:rgb(214, 153, 22);
    }
    #contactme-button-mobile:hover {
        background-color:rgb(156, 110, 9);
    }
}
/* main content */
.icons-container {
    max-width: 1175px;
}
.icons-item a:visited, .icons-item a {
    color: #2a2a2a;
  }
.icons-item a:hover {
    color: rgb(19, 152, 214);
  }
.icons-wrapper {
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.icons-container {
    display: flex;
    flex-direction: row;
    /* background-color:grey; */
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.icons-item {
    width: 300px;
    padding: 10px;
}
.icons {
    font-size: 6em;
    color:#8a8a8a;
    margin-top: 30px;
}
.icons:hover{
    color:#626262;
}
.icons-item h1 {
    margin-top: 20px;
    font-size: 1.2em;
}
.icons-item p {
    margin-top: 20px;
}
/* footer */
footer {
    background-color: #cbcbcb;
    max-width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: center;
}
footer p {
    padding: 15px 0px 10px 0px;
    font-size: 0.7em;
}
.footer-container {
    display: flex;
}
.footer-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
}
.footer-left, .footer-right {
}
/* pagebreak */
.pagebreak {
    height: 1px;
    background-color:#cbcbcb;
    margin: 40px 0px 40px 0px;
}
.pagebreak-smallmargin {
    height: 1px;
    background-color:#cbcbcb;
    margin: 20px 0px 20px 0px;
}
/* portfolio image section on homepage */
.portfolio-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.portfolio-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio-image-left-box {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
}
.portfolio-image-right-box {
    max-width: 500px;
    margin: 0px 20px 0px 20px;
}
.main-button {
    line-height: 25px;
    border-radius: 7px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px 0px 10px 0px;
    color: #fff;
    background-color:rgb(19, 152, 214);
}
.small-button {
    max-width: 170px;
}
.main-button:hover {
    background-color:rgb(214, 153, 22);
}
.portfolio-image-heading {
    margin-bottom: 20px;
    margin-top: 20px;
}
.portfolio-image-container p{
    margin-bottom: 30px;
}
.portfolio-image-image {
    max-width: 100%;
    height: auto;
}
/* portfolio-image responsive styling  */
@media (max-width: 1000px) {
    .portfolio-image-container {
        text-align: center;
    }
    .portfolio-image-button {
        align-items: center;
    }
}
/* page header */
.page-header {
    background-image: url("./images/HomeHeader.jpg");
    background-color: #cbcbcb;
    max-width: 100%;
    height: 150px;
    margin-bottom: 40px;
}
.page-header-wrapper {
    margin: auto;
    max-width: 1000px;
    display: flex;
}
.page-header h1 {
    margin: 60px 0px 0px 0px;
    color:#2a2a2a;
    padding-left: 5px;
}
/* page stuff */
.page-two-column-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.page-column-box {
    padding: 10px;
    max-width: 650px;
}
.page-two-column-header {
    text-align: left;
    margin-bottom: 10px;
}
.page-two-column-paragraph {
    margin: 10px 0px 10px 0px;
}
.page-column-box ul {
    margin: 20px 0px 20px 0px;
}
.page-two-column-paragraph-name {
    text-align: right;
}
@media (max-width: 1000px) {
    .page-header {
        margin-bottom: 20px;
    }
}
.page-image-avatar {
    max-height: 325px;
    width: auto;
}
.callout-text {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}
.resume-download-button {
    min-width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}
.page-two-column-callout-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.page-column-callout-box {
    display: flex;
    padding: 10px 50px 10px 50px;
}
.about-social-icons {
    font-size: 3em;
    color:rgb(19, 152, 214);
    font-weight: 500;
    padding: 0px 10px 0px 10px;
}
.about-social-icons:hover {
    color:rgb(214, 153, 22) ;
    font-weight: 500;
}
.page-two-column-paragraph {
    margin: 15px 0px 15px 0px;
}
/* skills icon styling and tooltips */
.page-technical-skills {
    max-width: 610px;
}
.skills-icons {
    display: flex;
    font-size: 4em;
    margin: 0px 5px 0px 5px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(214, 153, 22);
    color: #2a2a2a;
    text-align: center;
    border-radius: 7px;
    padding: 35px 15px;
    position: absolute;
    z-index: 1;
    font-size: 1em;
    width: 300px;
    margin-left: 12px;
    margin-top: -10px;
    font-weight: 600;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* contact form styling */
.contact-form-box {
    background-color:#cbcbcb;
    border-radius: 7px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    margin: 10px 20px 20px 20px;
    min-height: 440px;
}
#name, #phnumber, #message {
    min-width: 320px;
    border: none;
    border-radius: 7px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 15px;
}
#name, #phnumber{
    height: 40px;
}
#message {
    height: 165px;
}
.contact-form-box p {
    margin: 10px 0px 0px 0px;
}